/********************************************* Reset *********************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/********************************************* Deafults *********************************************/

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
}

:root {

    --primaryColor: #ffffff;
    --secondaryColor: #212121;

}

body {

    height: 100vh;
    width: 100%;
    font-family: Sans-serif, Serif, Arial;
    background-color: var(--primaryColor);

}

#left-screen {

    position: fixed;
    
}

.btn:hover {

    cursor: pointer;
    transition-duration: 0.5s;
    filter: drop-shadow(3px 3px 6px rgb(6, 149, 4));
    box-shadow: 2px 2px 2px;

}

/**************************************** Preview HTML ************************************/


#back-button {

    position: fixed;
    margin-top: 2rem;
    margin-left: -110rem;
    box-shadow: 2px 2px 2px;
    cursor: pointer;

}

#back-button:hover {

    transition-duration: 0.5s;
    filter: drop-shadow(3px 3px 6px rgb(6, 149, 4));
    box-shadow: 2px 2px 2px;
    
}

fieldset {
    border: 0;
  }
  label {
    display: block;
    margin: 30px 0 0 0;
  }
  .overflow {
    height: 200px;
  }

  