* {
    margin: 0;
    padding: 0;
}

:root {

    --primaryColor: #ffffff;
    --secondaryColor: #212121;

}

.darkTheme {

    --primaryColor: #212121;
    --secondaryColor: #ffffff;

}


body {

    height: 100vh;
    width: 100%;
    font-family: Sans-serif, Serif, Arial;
    background-color: var(--primaryColor);

}
/* 
#home-btn, #browse-btn, #library-btn {

    border: solid;
    background-color: var(--primaryColor);
    border: var(--secondaryColor);
    
} */